<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="judulmenu">
    <ion-toolbar>
    <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="history-list" *ngFor="let histori of makananlist">
    <div class="foto">
      <ion-img src="../../assets/iconfood.png"></ion-img>
    </div>

    <div class="deskripsi">
      <h3>{{histori.waktu_order}}</h3>
      <p><sup>Rp. </sup>{{histori.total_harga_order}}</p>
    </div>

    <div class="aksi">
      <ion-buttons>
        <ion-button size="large" id="lihat-modal{{histori.id_histori}}">Detail
          <ion-icon size="large" slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
        </ion-button>

        <ion-modal #modal trigger="lihat-modal{{histori.id_histori}}">
          <ng-template>
            <ion-content>
              <ion-toolbar>
                <ion-title>History</ion-title>
                <ion-buttons slot="end">
                  <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
              <ion-list>
                <h6 style="text-align: center;">Tanggal {{histori.waktu_order}}</h6>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <h2>Deskripsi Lengkap Pesanan</h2>
                    <p>{{histori.desc_pesanan}}</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    <h2>Jumlah Produk : {{histori.jml_jenis_barang}}</h2>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-buttons>
    </div>
  </div>
  
</ion-content>

<!-- <ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>History Pemesanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="warning" *ngFor="let histori of makananlist" [inset]="true" class="list">
    <ion-card-content>
      
      <h3>Menu Dipesan  : </h3><br>{{histori.desc_pesanan}}
      <br><br>Jumlah Jenis Barang : {{histori.jml_jenis_barang}}<br>
      Jumlah Total Barang : {{histori.jml_total_barang}}<br> 
      Total Harga Order : {{histori.total_harga_order}}<br>
      Waktu Pemesanan : {{histori.waktu_order}}<br>
      ID Pemesanan : {{histori.id_histori}}<br>
      <br><hr>
    </ion-card-content>
  </ion-card>

  <ion-card color="warning" *ngFor="let histori of makananlist" class="list">
    <ion-card-header>
      <ion-card-title>Menu Dipesan  : </ion-card-title>
      <ion-card-subtitle>{{histori.desc_pesanan}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Jumlah Jenis Barang : {{histori.jml_jenis_barang}}</p>
      <p>Jumlah Total Barang : {{histori.jml_total_barang}}</p> 
      <p>Total Harga Order : {{histori.total_harga_order}}</p>
      <p>Waktu Pemesanan : {{histori.waktu_order}}</p>
      <p>ID Pemesanan : {{histori.id_histori}}</p>
    </ion-card-content>
  </ion-card>
</ion-content> -->