.container {
    --ion-background-color: #698f90;
  }

ion-content{
    --ion-background-color: #698f90;
}

.list{
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


}