<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu Tersedia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5 class="judulmenu">Selamat Datang, {{nama_user}}</h5>
  <ion-card class="card-item" *ngFor="let menu of makananlist">
    <ion-card-header>
      <ion-card-title>{{menu.nama}}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="description">
      <h3>{{menu.kategori}}</h3>
      <p><sup>Rp. </sup>{{menu.harga}}</p>
      <div class="tombol">
        <ion-button size="small" color="success" href="edit-menu" [routerLink]="['/edit-menu/', menu.id]" routerLinkActive = "router-link-active">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="danger" (click)="deleteMakanan(menu.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="primary" id="tambah-carts{{menu.id}}">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
    <ion-modal #modal [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="cycle" trigger="tambah-carts{{menu.id}}">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-list>
            <ion-item>
              <ion-label>
                <h2>{{menu.nama}}</h2>
                <ion-input required [(ngModel)]="jumlah_pesanan" placeholder="Masukkan Jumlah"></ion-input>
              </ion-label>
            </ion-item>
            <ion-button type="button" (click)="tambahCarts(menu.id)" color="success" expand="block">Tambah ke Carts</ion-button>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-card>

  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="tambah-menu">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<!-- <ion-content class="container">
  {{nama_user}}
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let menu of makananlist">
        <ion-card-header>
          
          <ion-card-subtitle>{{menu.kategori}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{menu.harga}}
          <ion-grid>
            <ion-row>
            <ion-col><ion-button size="small" fill="clear" href="edit-menu" [routerLink]="['/edit-menu/', menu.id]" routerLinkActive = "router-link-active">Edit</ion-button></ion-col>
            <ion-col><ion-button size="small" fill="clear" (click)="deleteMakanan(menu.id)">Delete</ion-button></ion-col>
            <ion-button id="tambah-carts{{menu.id}}" fill="clear" horizontal="end" >Tambah Carts</ion-button>
        
        </ion-row>
        </ion-grid>
        </ion-card-content>

        <ion-modal #modal trigger="tambah-carts{{menu.id}}">
          <ng-template>
            <ion-content>
              <ion-toolbar>
                <ion-title>Tambah Carts</ion-title>
                <ion-buttons slot="end">
                  <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
              <ion-list>

                
                <ion-item>
                  <ion-label>
                    <h2>{{menu.nama}}</h2>
                    <ion-input required [(ngModel)]="jumlah_pesanan" placeholder="Masukkan Jumlah Pesanan"></ion-input>
                  </ion-label>
                </ion-item>
                <ion-button type="button" (click)="tambahCarts(menu.id)"  color="warning" expand="block">Tambah ke Carts</ion-button>
                
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-card>
    </ion-col>
      </ion-row>
      </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="tambah-menu">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content> -->
